/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  /* this is the page background */
  background-color: #ffffff;
  color: #222222;
}

/* -------------------------------- 

xPatterns

-------------------------------- */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo or header of the branding section */
  border: 1px solid #e6e6e6;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */
header {
  background-color: #19191a;
}

.cd-logo {
  /* logo box style */
  background-color: #666666;
  width: 120px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #19191a;
}
.cd-main-nav li a {
  color: #ffffff;
  border-color: #262627;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav li a {
    color: #7d7d82;
  }
  .cd-main-nav li a.selected {
    color: #ffffff;
    box-shadow: 0 2px 0 #435ca4;
  }
  .no-touch .cd-main-nav li a:hover {
    color: #ffffff;
  }
}

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #ffffff;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines */
  background-color: #ffffff;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: white;
}

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #323234;
}
.no-touch .cd-download:hover {
  background-color: #3f3f41;
}
.cd-download span {
  /* tooltip */
  background: #435ca4;
  color: #ffffff;
}
.cd-download span::before {
  /* right arrow color */
  border-color: #435ca4;
}

/* -------------------------------- 

xPage title 

-------------------------------- */
main > h1 {
  color: #222222;
}
@media only screen and (min-width: 1600px) {
  main > h1 {
    /* title goes into the header on big devices */
    color: #ffffff;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h2.styleguide { font-size: 20px; }

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  color: #222222;
}


h1 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
}

h2 {
  font-size: 30px;
  font-weight:400;
  line-height: 1.2;
  margin: 1em 0 .7em 0;
}

h3 {
  font-size: 24px;
  font-weight:400;
  line-height: 1.2;
  margin: 1em 0 .6em 0;
}
h4 {
  font-size: 18px;
  font-weight:600;
  line-height: 1.2;
  margin: 1em 0 .6em 0;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: ;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: ;
  }
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: ;
    margin: ;
  }
}

section > h2.styleguide::before {
  /* number before each section title */
  color: silver;
}


p {
  font-size: 16px;
  line-height: 1.4;
}
p a {
  color: #435ca4;
  text-decoration: underline;
}

ul.sample { margin-top: 20px;
}
li.sample { list-style: disc; list-style-position: inside;  font-size: 16px;
  line-height: 1.4; margin-left: 20px;

}

@media only screen and (min-width: 768px) {
  p {
    font-size: ;
    line-height: ;
  }
}

/* -------------------------------- 

xButtons 

-------------------------------- */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #435ca4;
}
.btn:focus {
  outline: none;
}
.no-touch .btn:hover {
  background: #5a72b7;
}
.btn.btn-success {
  background: #6fce72;
}
.no-touch .btn.btn-success:hover {
  background: #82d485;
}
.btn.btn-alert {
  background: #e54139;
}
.no-touch .btn.btn-alert:hover {
  background: #f75951;
}
.btn.btn-outline {
  color: #435ca4;
  background: transparent;
  box-shadow: inset 0 0 0 1px #435ca4;
}
.no-touch .btn.btn-outline:hover {
  color: #ffffff;
  background: #435ca4;
}
@media only screen and (min-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #435ca4;
}

/* -------------------------------- 

branding banner 

-------------------------------- */

.brandtext {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 50px 37px 50px 37px;
  
}

.banner-sample {
	background: url(../assets/header%20banners/PRN_header1.jpg) no-repeat;
	/*width: 1170px;
	height: 150px;*/
	width: auto;
	
}

@media only screen and (max-width: 600px) {
.brandtext {
  font-size: 42px;
  font-weight: 300;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 .4em;
  position: relative;
  display: inline-block;
  margin: 20px 37px 20px 37px;
  
}
	
}

/* -------------------------------- 

xIcons 

-------------------------------- */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px;
}

/* -------------------------------- 

xForm 

-------------------------------- */
input[type=text], select {
  border: 1px solid #e6e6e6;
  border-radius: .25em;
  background: #ffffff;
}
input[type=text]:focus, select:focus {
  outline: none;
}

input[type=text] {
  padding: .6em 1em;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}
input[type=text].success {
  border-color: #6fce72;
  box-shadow: 0 0 6px rgba(111, 206, 114, 0.2);
}
input[type=text].alert {
  border-color: #e4655f;
  box-shadow: 0 0 6px rgba(228, 101, 95, 0.2);
}
input[type=text]:focus {
  border-color: #435ca4;
  box-shadow: 0 0 6px rgba(95, 142, 228, 0.2);
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.radio-label,
.checkbox-label {
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-label::before, .radio-label::after,
.checkbox-label::before,
.checkbox-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.radio-label::before,
.checkbox-label::before {
  left: 0;
  border: 1px solid #e6e6e6;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
}
.radio-label::after,
.checkbox-label::after {
  left: 3px;
  background: url("../assets/form/icon-check.svg") no-repeat center center;
  display: none;
}

.radio-label::before {
  border-radius: 50%;
}

.checkbox-label::before {
  border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
  background-color: #19191a;
  border: none;
  box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
  display: block;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../assets/form/icon-select.svg") no-repeat center center;
  pointer-events: none;
}

select {
  position: relative;
  padding: .6em 2em .6em 1em;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* -------------------------------- 

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

strong {
	font-weight:bold;
}

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
header nav {
  display: inline-block;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 80px;
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative;
}
.cd-logo img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
@media only screen and (min-width: 1600px) {
  .cd-logo {
    margin-left: 5%;
  }
}

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
}
.cd-nav-trigger span {
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background-color 0.3s 0.3s;
  -moz-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-nav li a {
  display: block;
  font-size: 1.8rem;
  padding: 1em 0;
  border-bottom-width: 1px;
  border-style: solid;
}
.cd-main-nav li:first-of-type a {
  border-top-width: 1px;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav {
    position: static;
    display: table;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    width: auto;
    height: 80px;
    background: transparent;
    padding: 0 2em;
    text-align: left;
  }
  .cd-main-nav li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 1em;
  }
  .cd-main-nav li a {
    display: inline-block;
    font-size: 1.6rem;
    padding: .4em .2em;
    border-bottom: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .cd-main-nav li:first-of-type a {
    border-top: none;
  }
}
@media only screen and (min-width: 1600px) {
  .cd-main-nav {
    display: none;
  }
}

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-download span {
  /* tooltip */
  position: absolute;
  right: 120%;
  top: 50%;
  margin-top: -20px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  white-space: nowrap;
  text-align: center;
  font-size: 1.2rem;
  -webkit-transition: opacity .2s 0s, visibility 0s .2s;
  -moz-transition: opacity .2s 0s, visibility 0s .2s;
  transition: opacity .2s 0s, visibility 0s .2s;
}
.cd-download span::before {
  /* right arrow */
  content: '';
  position: absolute;
  top: 12px;
  left: 100%;
  height: 0;
  width: 0;
  border-width: 8px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.no-touch .cd-download:hover span {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .2s 0s, visibility 0s 0s;
  -moz-transition: opacity .2s 0s, visibility 0s 0s;
  transition: opacity .2s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 1024px) {
  .cd-download {
    display: block;
  }
  .cd-download span {
    opacity: 0;
    visibility: hidden;
  }
}
@media only screen and (min-width: 1600px) {
  .cd-download {
    right: 5%;
  }
}

main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
}
main > h1 {
  text-align: center;
  margin: 3em 0;
}
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 80px;
  }
}
@media only screen and (min-width: 1600px) {
  main {
    max-width: none;
    padding: 120px 0 50px;
  }
  main > h1 {
    position: fixed;
    top: 0;
    left: 50%;
    height: 80px;
    line-height: 80px;
    width: 600px;
    margin: 0 0 0 -250px;
    font-size: 2.6rem;
    z-index: 20;
  }
}

section {
  margin: 3em 0;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
section:nth-of-type(1) h2.styleguide::before {
  content: '1. ';
}
section:nth-of-type(2) h2.styleguide::before {
  content: '2. ';
}
section:nth-of-type(3) h2.styleguide::before {
  content: '3. ';
}
section:nth-of-type(4) h2.styleguide::before {
  content: '4. ';
}
section:nth-of-type(5) h2.styleguide::before {
  content: '5. ';
}
section:nth-of-type(6) h2.styleguide::before {
  content: '6. ';
}
section:nth-of-type(7) h2.styleguide::before {
  content: '7. ';
}
section:nth-of-type(8) h2.styleguide::before {
  content: '8. ';
}
section:nth-of-type(9) h2.styleguide::before {
  content: '9. ';
}
section:nth-of-type(10) h2.styleguide::before {
  content: '10. ';
}
section:nth-of-type(11) h2.styleguide::before {
  content: '11. ';
}

@media only screen and (min-width: 768px) {
  section {
    margin: 3em 0 5em;
  }
}
@media only screen and (min-width: 1600px) {
  section {
    /*width: 48%;
    float: left;*/
    margin: 0 4% 4em 0;
  }
  section:nth-of-type(2n) {
    margin-right: 0;
  }
}

/* xBranding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em;
}
.cd-branding img {
  display: block;
  width: 100%;
}
.cd-branding ul:last-of-type {
  padding-top: .6em;
}
.cd-branding ul:last-of-type li {
  display: inline-block;
  margin-right: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(1) img {
  width: 90px;
  height: 90px;
  border-radius: 1em;
}
.cd-branding ul:last-of-type li:nth-of-type(2) img {
  width: 60px;
  height: 60px;
  border-radius: .6em;
}
.cd-branding ul:last-of-type li:nth-of-type(3) img {
  width: 32px;
  height: 32px;
  border-radius: .4em;
}
.cd-branding ul:last-of-type li:nth-of-type(4) img {
  width: 16px;
  height: 16px;
  border-radius: .2em;
}
@media only screen and (min-width: 768px) {
  /*.cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0;
  }*/
  .cd-branding .cd-box:nth-of-type(2n) {
    margin-right: 0;
  }
  .cd-branding ul:last-of-type {
    clear: left;
  }
  .cd-branding ul:last-of-type li {
    margin-right: 3em;
  }
}

/* xColor section - basic style */
/*.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0;
}*/
.cd-colors li:nth-of-type(2n) {
  margin-right: 0;
}
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0;
}
.cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
  /* lighter and darker color shades of the same swatch */
  /*content: '';*/
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 20%;
}
.cd-colors .cd-color-swatch::before {
  left: 0;
}
.cd-colors .cd-color-swatch::after {
  right: 0;
}
.cd-colors b {
  display: block;
  padding: .6em 0;
}
.cd-colors li:nth-of-type(1) .cd-color-swatch {
	background: #435ca4;
}

.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #222222;
}

.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #efefef;
}

.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #e9e9e9;
}

.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #fdfabe;
}
@media only screen and (min-width: 768px) {
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0;
  }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 1.25%;
  }
  .cd-colors li:nth-of-type(5n) {
    margin-right: 0;
  }
}

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em;
}
@media only screen and (min-width: 768px) {
  .cd-typography .cd-box .cd-box,
  .cd-buttons .cd-box .cd-box,
  .cd-icons .cd-box .cd-box,
  .cd-form .cd-box .cd-box {
    padding: 2em;
  }
}

/* xTypography section - basic style */

.cd-buttons .cd-box:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cd-buttons .cd-box:last-of-type {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.cd-buttons button {
  margin: .4em;
}
@media only screen and (min-width: 1024px) {
  .cd-buttons button {
    margin: 1em;
  }
}

/* xIcons section - basic style */
.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em;
}
.cd-icons .cd-icon-1 {
  background-image: url("../assets/icons/icon-1.svg");
}
.cd-icons .cd-icon-2 {
  background-image: url("../assets/icons/icon-2.svg");
}
.cd-icons .cd-icon-3 {
  background-image: url("../assets/icons/icon-3.svg");
}
.cd-icons .cd-icon-4 {
  background-image: url("../assets/icons/icon-4.svg");
}
.cd-icons .cd-icon-5 {
  background-image: url("../assets/icons/icon-5.svg");
}
.cd-icons .cd-icon-6 {
  background-image: url("../assets/icons/icon-6.svg");
}
.cd-icons .cd-icon-7 {
  background-image: url("../assets/icons/icon-7.svg");
}
.cd-icons .cd-icon-8 {
  background-image: url("../assets/icons/icon-8.svg");
}

/* xForm section - basic style */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
  margin: 1em;
}
.cd-form .cd-input-wrapper {
  position: relative;
  display: inline-block;
}
.cd-form select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  .cd-select::after {
    display: none;
  }
}
.no-csstransitions .cd-select::after {
  display: none;
}

/*.color-lists {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0;
	clear: both;
}*/
.padding12 { padding: 12px 12px; }

pre { font-family: monospace; }




/* -------------------------------- 

Tab Pills

-------------------------------- */


ul.tab-pill-group {
	display: inline-block;
	
	
}
li.tab-pill {
background: #efefef;
  border: 1px solid #cccccc;
  box-shadow: none;
  border-radius: .25em;
  float: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color: #222222;
  margin-right: 6px;
  padding: 16px;
  cursor: pointer;
text-align:center;
}

li.tab-pill.active {
	background: url(../assets/active-tab-bg.png) repeat-x;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	box-shadow: none;
	border-radius: .25em;
	float: left;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color: #222222;
	margin-right: 6px;
	padding: 16px;
	cursor: pointer;
	text-align:center;
	/*#fffa93*/
}


/* -------------------------------- 

Data tables

-------------------------------- */


/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table { 
		width: 100%; 
		border-collapse: collapse; 
	}
	/* Zebra striping */
	tr:nth-of-type(odd) { 
		background: #efefef; 
	}
	th { 
		background: #fdfabe; 
		color: #222222; 
		font-weight: bold; 
	}
	td, th { 
		padding: 15px; 
		border: 1px solid #ccc; 
		text-align: left; 
	}



/* -------------------------------- 

Alerts

-------------------------------- */

.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image:      -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
  background-image:         linear-gradient(to bottom, #dff0d8 0%, #c8e5bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
  background-repeat: repeat-x;
  border-color: #b2dba1;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image:      -o-linear-gradient(top, #d9edf7 0%, #b9def0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), to(#b9def0));
  background-image:         linear-gradient(to bottom, #d9edf7 0%, #b9def0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7', endColorstr='#ffb9def0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #9acfea;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image:      -o-linear-gradient(top, #fcf8e3 0%, #f8efc0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcf8e3), to(#f8efc0));
  background-image:         linear-gradient(to bottom, #fcf8e3 0%, #f8efc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcf8e3', endColorstr='#fff8efc0', GradientType=0);
  background-repeat: repeat-x;
  border-color: #f5e79e;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image:      -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2dede), to(#e7c3c3));
  background-image:         linear-gradient(to bottom, #f2dede 0%, #e7c3c3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
  background-repeat: repeat-x;
  border-color: #dca7a7;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}




/* -------------------------------- 

Navigation

-------------------------------- */


.nav-container {
	width: 170px;
	padding: 0px;
	margin: 0px;
	background-color: #efefef;
}

h3.nav-heading {
	font: 14px 'Open Sans', sans-serif;
	line-height: 1.2em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 12px 15px;
	background-color: #e9e9e9;
}

h3.nav-heading a { 
	color: #435ca4;
}

h3.nav-heading a:visited { 
	color: #4e4a92;
}

h3.nav-heading a:hover { 
	color: #5a72b7;
}

h3.nav-heading a:active { 
	color: #31488d;
}

ul.nav {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;	
}

ul.nav a {
	color: #435ca4;
}
ul.nav a:visited {
	color: #4e4a92;
}
ul.nav a:hover {
	color: #5a72b7;
}
ul.nav a:active {
	color: #31488d;
}


li.nav {
	font: 14px 'Open Sans', sans-serif;
	line-height: 1.2em;
	margin-bottom: 2px;
	padding: 0;
}


ul.nav li:last-child {
	padding-bottom: 6px;	
}

ul.nav:last-child {
	padding-bottom: 12px;	
}



/* -------------------------------- 

Home 

-------------------------------- */

.homebox {
	border: 1px solid #cccccc;
	background-color: #ffffff;
}

.homebox .panel-heading {
  background: url(../assets/PRN_home_heading_bg.png) no-repeat;
  background-color: #585858;
  color: #ffffff;
  font-weight:200;
  text-align: center;
  padding:0;
  padding-bottom:5px;

}
.homebox h2 {
  font-family: 'Open Sans', sans-serif;
  margin:0; padding:0;
  font-weight: 400;
  color:white;
  padding-top:5px;
}

ul.homebox  {
  border:0;
	display: block;
	list-style-type: disc;
	margin: 15px;
	padding: 22px;	
}

.homebox li {
	font: 15px 'Open Sans', sans-serif;
	line-height: 1.4em;
	margin-bottom: 13px;
	padding: ;	
}
ul.homebox a {
	color: #435ca4;
}
ul.homebox a:visited {
	color: #4e4a92;
}
ul.homebox a:hover {
	color: #5a72b7;
}
ul.homebox a:active {
	color: #31488d;
}